.account-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.895);
  border-radius: 5px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

label {
  margin-bottom: 0.5rem;
}

.update-button {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin: 0.25rem;
  font-size: 1rem;
  transition: background-color 0.2s;
}